In [1]:
#libraries
import pandas as pd
import numpy as np

In [12]:
#kaggle dataset
# Loading data
df = pd.read_csv(r'./data/smoke_detection_iot.csv', index_col=0)
df.head(10)

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.00,0.0,0.000,0.00,0,0
1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.00,0.0,0.000,0.00,1,0
2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.00,0.0,0.000,0.00,2,0
3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.00,0.0,0.000,0.00,3,0
4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.00,0.0,0.000,0.00,4,0
5,1654733336,20.073,54.12,0,400,12419,18998,939.725,0.0,0.00,0.0,0.000,0.00,5,0
6,1654733337,20.088,53.61,0,400,12432,19058,939.738,0.0,0.00,0.0,0.000,0.00,6,0
7,1654733338,20.103,53.20,0,400,12439,19114,939.758,0.0,0.00,0.0,0.000,0.00,7,0
8,1654733339,20.117,52.81,0,400,12448,19155,939.758,0.0,0.00,0.0,0.000,0.00,8,0
9,1654733340,20.132,52.46,0,400,12453,19195,939.756,0.9,3.78,0.0,4.369,2.78,9,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62630 entries, 0 to 62629
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UTC             62630 non-null  int64
 1   Temperature[C]  62630 non-null  float64
 2   Humidity[%]     62630 non-null  float64
 3   TVOC[ppb]       62630 non-null  int64
 4   eCO2[ppm]       62630 non-null  int64
 5   Raw H2          62630 non-null  int64
 6   Raw Ethanol     62630 non-null  int64
 7   Pressure[hPa]   62630 non-null  float64
 8   PM1.0           62630 non-null  float64
 9   PM2.5           62630 non-null  float64
 10  NC0.5           62630 non-null  float64
 11  NC1.0           62630 non-null  float64
 12  NC2.5           62630 non-null  float64
 13  CNT             62630 non-null  int64
 14  Fire Alarm      62630 non-null  int64
dtypes: float64(8), int64(7)
memory usage: 7.6 MB

In [11]:
df.describe

<bound method NDFrame.describe of               UTC  Temperature[C]  Humidity[%]  TVOC[ppb]  eCO2[ppm]  Raw H2  \
0      1654733331          20.000        57.36          0        400   12306
1      1654733332          20.015        56.67          0        400   12345
2      1654733333          20.029        55.96          0        400   12374
3      1654733334          20.044        55.28          0        400   12390
4      1654733335          20.059        54.69          0        400   12403
...           ...             ...          ...        ...        ...     ...
62625  1655130047          18.438        15.79        625        400   13723
62626  1655130048          18.653        15.87        612        400   13731
62627  1655130049          18.867        15.84        627        400   13725
62628  1655130050          19.083        16.04        638        400   13712
62629  1655130051          19.299        16.52        643        400   13696

       Raw Ethanol  Pressure[hPa]  PM1.0  PM2.5  NC0.5  NC1.0  NC2.5   CNT  \
0            18520        939.735   0.00   0.00   0.00  0.000  0.000     0
1            18651        939.744   0.00   0.00   0.00  0.000  0.000     1
2            18764        939.738   0.00   0.00   0.00  0.000  0.000     2
3            18849        939.736   0.00   0.00   0.00  0.000  0.000     3
4            18921        939.744   0.00   0.00   0.00  0.000  0.000     4
...            ...            ...    ...    ...    ...    ...    ...   ...
62625        20569        936.670   0.63   0.65   4.32  0.673  0.015  5739
62626        20588        936.678   0.61   0.63   4.18  0.652  0.015  5740
62627        20582        936.687   0.57   0.60   3.95  0.617  0.014  5741
62628        20566        936.680   0.57   0.59   3.92  0.611  0.014  5742
62629        20543        936.676   0.57   0.59   3.90  0.607  0.014  5743

       Fire Alarm
0               0
1               0
2               0
3               0
4               0
...           ...
62625           0
62626           0
62627           0
62628           0
62629           0

[62630 rows x 15 columns]>